:root {
  --primary-color: #7169d3;
  --primary-color-light: #9d95ff;
  --primary-color-dark: #544e9f;

  --secondary-color: #c6253a;
  --secondary-color-light: #f15b6f;
  --secondary-color-dark: #c91028;

  --tertiary-color: #35bf98;
  --tertiary-color-light: #7ddbc0;
  --tertiary-color-dark: #11c793;

  --white: #ffffff;
  --gray: #b1afaf;
  --black: #251e1f;
}

* {
  padding: 0;
  margin: 0;
}

html,
body,
main,
#__next {
  height: 100%;
  font-family: 'Roboto';
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.6875rem;
  display: flex;
  align-items: center;

  color: var(--primary-color);
}

button {
  cursor: pointer;
}
button:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
a {
  color: var(--white);
}
